
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control" placeholder="* Enter the Title" autofocus="true"
            id="title"
            required
            ngModel
            minlength="5" maxlength="13"
            name="title"
          >
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea
            class="form-control" placeholder="* Enter the content"
            id="content"
            required
            ngModel
            minlength="13" maxlength="100"
            name="content"
          ></textarea>
        </div>
        <div *ngIf="!postForm.valid && postForm.touched">
          <label class="help-block text-danger">(* fields are required!)</label>
          <br>
        </div>
        <button
          class="btn btn-outline-primary"
          type="submit"
          [disabled]="!postForm.valid">
          Send Post
        </button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <button class="btn btn-outline-success" type="button" 
      (click)="onFetchPosts()">
        Fetch Posts
      </button>
      &nbsp;
      <button
        class="btn btn-outline-danger" type="button"
        [disabled]="loadedPosts.length < 1"
        (click)="onClearPosts()">
        Clear Posts
      </button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <p *ngIf="loadedPosts.length < 1 && !isFetching">No posts available!</p>
      <ul class="list-group" *ngIf="loadedPosts.length >= 1 && !isFetching">
        <li class="list-group-item list-group-item-action"
        [ngClass]=listGrpClr(i)
        *ngFor="let post of loadedPosts; index as i">
          <h3> <strong> {{post.title}} </strong></h3>
          <p><em> {{post.content}} </em></p>
        </li>
      </ul>
      <div *ngIf="isFetching">
        <app-heart-beat></app-heart-beat>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
